{% extends 'navbar.html' %}
{% block nav %}
<h2 class="bg-dark text-light font-italic">My Orders</h2>
{% if messages %}
{%for i in messages%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{i}}</strong> 
</div>
{%endif%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{i}}</strong> 
</div>
{%endif%}
{%endfor%}
{%endif%}
{% for i in order.order %}
<ddiv class="row jumbotron">
    <div class="col">
        <img height="250px" src="{{i.product.image.url}}" alt="">
    </div>
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                {{i.product.name}}
            </li>
            <li class="list-group-item">
                {{i.product.price}}
            </li>
            <li class="list-group-item">
                {{i.date}}
            </li>
            
            <li class="list-group-item">

                {% if i.status == 'Cancel' %}
                    <p class="text-danger">Order Cancelled</p>
                {%else%}
                    {% if i.status == 'Delivered' %}
                        <p class="text-success">Order Delivered</p>
                    {%else%}
                        <p>{{i.status}}</p>
                        <a href="{% url 'orderc' i.id %}" class="btn btn-danger">Cancel Order</a>
                    {%endif%}

                {%endif%}
                <!-- <a href="{% url 'checkout' i.id %}" class="btn btn-success">Place Order</a>
                <a href="{% url 'dcart' i.id %}" class="btn btn-danger">Remove From Cart</a> -->
            </li>

        </ul>
    </div>
</ddiv>
{%endfor%}


{% endblock nav %}